.teamCard {
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 25px;
    border-radius: 6px;
    box-shadow: 2px 2px 8px grey;
}

.teamCard img {
    width: 300px;
    
}

.teamCard img:hover {
    transform: scale(1.12, 1.12);
    transition: transform 1s;
}